@model RhemaCMS.Models.ViewModels.vm_cl.ChurchBodyModel

@if (Model != null)
{
    @if (Model.oChurchBody != null)
    {
        <div class="form-row mb-0 mb-1">
            @if (!string.IsNullOrEmpty(Model.oChurchBody.ChurchUnitLogo))
            {
                <div class="col-md-3 justify-content-center">
                    <small asp-for="oChurchBody.ChurchLogo" class="control-label"> Church unit logo </small>
                    <div class="card m-0 p-2 border-0 shadow-none bg-transparent">
                        <div class="card-body m-0 p-0 text-center">
                            @{ var photoPath_CB = "~/img_db/" + (Model.oChurchBody.ChurchUnitLogo ?? "noimg.gif"); }
                            <img class="card-img-top" src="@photoPath_CB" asp-append-version="true" id="imgFile" />
                        </div>
                    </div>
                </div>
            }

            <div class="col-md">
                <div class="form-row mb-1">
                    <div class="col-md ">
                        <small class="font-weight-normal" asp-for="oChurchBody.Name"> Congregation (Church unit) name</small>
                        <input type="text" class="form-control text-sm" asp-for="oChurchBody.Name" placeholder="Denomination" readonly>
                    </div>
                </div>
                <div class="form-row mb-1">
                    <div class="col-md-6">
                        <small class="font-weight-normal" asp-for="strChurchLevel">Church Level</small>
                        <input type="text" class="form-control text-sm" asp-for="strChurchLevel" placeholder="Church Level" readonly>
                    </div>
                    <div class="col-md-6">
                        <small class="font-weight-normal" asp-for="strOrgType">Organisation Type</small>
                        <input type="text" class="form-control text-sm" asp-for="strOrgType" placeholder="Organisation Type" readonly>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row mb-1">
            @if (Model.oCBLevelCount > 0)
            {
                <div class="col-md-6">
                    <small class="font-weight-normal" asp-for="ChurchBodyId_1"> @ViewBag.strChurchLevel_1 </small>
                    <input id="_strChurchBody_1" class="form-control text-sm" type="text" asp-for="strChurchBody_1" placeholder="@ViewBag.strChurchLevel_1" readonly>
                </div>

                @if (Model.oCBLevelCount > 1)
                {
                    <div class="col-md-6">
                        <small class="font-weight-normal" asp-for="ChurchBodyId_2"> @ViewBag.strChurchLevel_2 </small>
                        <input id="_strChurchBody_2" class="form-control text-sm" type="text" asp-for="strChurchBody_2" placeholder="@ViewBag.strChurchLevel_2" readonly>
                    </div>

                    @if (Model.oCBLevelCount > 2)
                    {
                        <div class="col-md-6">
                            <small class="font-weight-normal" asp-for="ChurchBodyId_3"> @ViewBag.strChurchLevel_3 </small>
                            <input id="_strChurchBody_3" class="form-control text-sm" type="text" value="@ViewBag.strChurchBody_3" placeholder="@ViewBag.strChurchLevel_3" readonly>
                        </div>

                        @if (Model.oCBLevelCount > 3)
                        {
                            <div class="col-md-6">
                                <small class="font-weight-normal" asp-for="ChurchBodyId_4"> @ViewBag.strChurchLevel_4 </small>
                                <input id="_strChurchBody_4" class="form-control text-sm" type="text" value="@ViewBag.strChurchBody_4" placeholder="@ViewBag.strChurchLevel_4" readonly>
                            </div>

                            @if (Model.oCBLevelCount > 4)
                            {
                                <div class="col-md-6">
                                    <small class="font-weight-normal" asp-for="ChurchBodyId_5"> @ViewBag.strChurchLevel_5 </small>
                                    <input id="_strChurchBody_5" class="form-control text-sm" type="text" value="@ViewBag.strChurchBody_5" placeholder="@ViewBag.strChurchLevel_5" readonly>
                                </div>
                            }
                        }
                    }
                }
            }
        </div>

        <div class="form-row mb-1">
            <div class="col-md-6">
                <small class="font-weight-normal" asp-for="oChurchBody.GlobalChurchCode">Church Code</small>
                <input type="number" min="1" max="10" class="form-control text-sm" asp-for="oChurchBody.GlobalChurchCode" placeholder="Church code" readonly>
            </div>
            <div class="col-md-6">
                <small class="font-weight-normal" asp-for="strCountryRegion">Faith Stream </small>
                <input class="form-control text-sm" type="text" asp-for="strFaithTypeCategory" placeholder="Faith Stream" readonly>
            </div>
        </div>
        <div class="form-row mb-1">
            <div class="col-md">
                <small class="font-weight-normal" asp-for="oChurchBody.RootChurchCode">Root Church Code</small>
                <input class="form-control text-sm" type="text" asp-for="oChurchBody.RootChurchCode" placeholder="Root Church code" readonly>
            </div>
        </div>
        <div class="form-row mb-1">
            <div class="col-md-6">
                <small class="font-weight-normal" asp-for="strCountry">Country of Operation</small>
                <input class="form-control text-sm" type="text" asp-for="strCountry" placeholder="Country" readonly>
            </div>
            <div class="col-md-6">
                <small class="font-weight-normal" asp-for="strCountry">Region</small>
                <input class="form-control text-sm" type="text" asp-for="strCountryRegion" placeholder="Region" readonly>
            </div>
        </div>
        <div class="form-row mb-1">
            <div class="col-md">
                <small class="font-weight-normal" asp-for="oChurchBody.SubscriptionKey">Subscription Key</small>
                <input type="text" class="form-control text-sm" asp-for="oChurchBody.SubscriptionKey" placeholder="Subscription Key" readonly>
            </div>            
        </div>
        <div class="form-row mb-1">
            <div class="col-md">
                <small class="font-weight-normal" asp-for="oChurchBody.Comments">Any comments</small>
                <textarea asp-for="oChurchBody.Comments" class="form-control text-sm" rows="3" readonly></textarea>
            </div>
            <div class="col-md-2">
                <small class="font-weight-normal" asp-for="strStatus"> Status </small>
                <div>
                    @if (Model.oChurchBody.Status == "A")
                    {<span class="badge badge-btn badge-success">@Model.strStatus </span> }
                else
                { <span class="badge badge-btn badge-secondary">@Model.strStatus </span>}
                </div>
            </div>
        </div>
    }
}